.choix {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border: 0.1rem solid hsl(0, 0%, 83%);
  height: 40px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}
.choix:hover {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  border: 1px solid #028a3d;
}
h2 {
  padding-top: 10%;
  padding-left: 7%;
  font-size: 15px;
  text-align: center;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.quitter {
  background-color: #ec880c;
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 130px;
  height: 30px;
}
.suivant {
  background-color: #028a3d;
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 130px;
  height: 30px;
}
.suivant:hover {
  box-shadow: 0 0 3pt 1pt #028a3d;
}
.quitter:hover {
  box-shadow: 0 0 3pt 1pt #ec880c;
}
#progressBar ::-moz-progress-bar {
  background-color: #028a3d;
}
#progressBar {
  width: 100%;
  height: 6px;
  margin-bottom: 10px;
  border-radius: 50%;
}
#counter p {
  text-align: left;
  font-size: 15px;
  color: gray;
}
#section2 {
  display: flex;
  gap: 2px;
}
#quest {
  display: flex;
  gap: 0px;
}

#counter {
  display: flex;
  justify-content: space-between;
}
